@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

/* This will change the scrollbar track (background) */
textarea::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #fafafa88;
  border-radius: 4px;
}


.chat-history::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.chat-history::-webkit-scrollbar-thumb {
  background-color: #fafafa88;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #fafafa88;
  border-radius: 4px;
}

.code-block::-webkit-scrollbar {
  height: 5px;
  background-color: transparent;
}

.code-block::-webkit-scrollbar-thumb {
  background-color: #fafafa88;
  border-radius: 4px;
}

.code-block::-webkit-scrollbar-thumb:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

p {
  @apply text-base;
}