@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

/* This will change the scrollbar track (background) */
textarea::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #fafafa88;
  border-radius: 4px;
}


.chat-history::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.chat-history::-webkit-scrollbar-thumb {
  background-color: #fafafa88;
  border-radius: 4px;
}